html,
body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

.container {
  position: relative;
  width: 1320px;
  height: auto;
  display: flex;
}

/*NAVBAR*/

.navbar_frame {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #443297;
}

.navbar_frame .container {
  padding: 20px 0px 14px;
  flex-direction: column;
}

.navbar_frame .navbar_top {
  position: relative;
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
}

.navbar_frame .navbar_top > a img {
  margin-right: 76px;
  width: 117px;
  height: 36px;
}

.navbar_frame .navbar_top .nav_search_frame {
  width: 650px;
  height: 50px;

  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #fff;
  border-radius: 6px;
}

.navbar_frame .navbar_top .search_box {
  padding: 10px 17px;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar_frame .search_box .category_list {
  width: 166px;
  height: 30px;

  display: flex;
  flex-direction: row;
  align-items: center;

  border-right: 1px solid #d6d6d6;
}

.navbar_frame .category_list select {
  width: 140px;
  height: 30px;

  border: none;
  outline: none;

  font-family: "Jost";
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  color: #041e42;
}

.navbar_frame .search_box input {
  margin-left: 12px;
  width: 387px;
  height: 22px;

  border: none;
  outline: none;

  font-family: "Jost";
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  color: #626974;
}

.navbar_frame .nav_search_frame .search_icon_box {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 6px 6px 0px;
  background: rgb(245, 195, 75);
}

.navbar_frame .search_icon_box img {
  width: 20px;
  height: 20px;
}

.navbar_frame .navbar_top .nav_top_menu {
  margin-left: 59px;
  width: 416px;
  height: 50px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar_frame .nav_top_menu .top_menu_box {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.navbar_frame .top_menu_box .box_icon_box {
  position: relative;
  margin-right: 16px;
  width: 54px;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 6px;
}

.navbar_frame .box_icon_box img {
  width: 22px;
  height: 22px;
}

.navbar_frame .top_menu_box .box_info_box {
  display: flex;
  flex-direction: column;
}

.navbar_frame .box_info_box span {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 22px;
  color: #ffffff;
}

.navbar_frame .box_info_box strong {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
}

.navbar_frame .box_icon_box .basket_count {
  position: absolute;

  width: 15px;
  height: 15px;
  top: -2px;
  right: -3px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #f5c34b;
  border-radius: 50%;

  color: rgb(11, 30, 64);
  font-family: "Jost";
  font-size: 8px;
  font-weight: 700;
  line-height: 10px;
}

.navbar_frame .navbar_bott {
  margin-top: 20px;
  width: 100%;
  height: 40px;

  display: flex;
  flex-direction: row;

  border-top: 1px solid #5746a1;
}

.navbar_frame .navbar_bott .navbar_bott_menu_box {
  margin-top: 10px;
  width: auto;
  height: auto;

  display: flex;
  flex-direction: row;
}

.navbar_frame .navbar_bott_menu_box .browse_box {
  width: 185px;
  height: 30px;

  display: flex;
  flex-direction: row;
  align-items: center;
  border-right: 1px solid #5746a1;
}

.navbar_frame .browse_box img {
  margin-right: 10px;
  width: 20px;
  height: 18px;
}

.navbar_frame .browse_box span {
  font-family: "Jost";
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: rgb(255, 255, 255);
}

.navbar_frame .navbar_bott_menu_box .navbar_route_menu {
  margin-left: 12px;
  width: 690px;
  display: flex;
  flex-direction: row;
}

.navbar_frame .navbar_route_menu .router_menu {
  margin-right: 20px;
  width: auto;
  height: 40px;

  display: flex;
}

.navbar_frame .router_menu a {
  font-family: "Jost";
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  color: #ffffff;
}

.navbar_frame .router_menu a:active {
  color: #f5c34b;
}

.navbar_frame .navbar_bott_menu_box .sorting_menu {
  display: flex;
  flex-direction: row;
}

.navbar_frame .sorting_menu span {
  margin-left: 20px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;

  color: #ffffff;
}

/*FOUTER*/

.fouter_frame {
  position: relative;
  padding: 90px 0 20px 0;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: rgb(243, 245, 246);
}

.fouter_frame .container {
  flex-direction: column;
}

.fouter_frame .container .fouter_top {
  position: relative;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
}

.fouter_frame .fouter_top .fouter_contact_box {
  width: 285px;
  height: auto;

  display: flex;
  flex-direction: column;
}

.fouter_frame .fouter_contact_box .fouter_title {
  font-family: "Jost";
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  color: rgb(4, 30, 66);
}

.fouter_frame .fouter_contact_box .contact_content_boxes {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
}

.fouter_frame .contact_content_boxes img {
  width: 35px;
  height: 22px;
}

.fouter_frame .contact_content_boxes .contact_content_box {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
}

.fouter_frame .contact_content_box span {
  margin-bottom: 10px;
  font-family: "Jost";
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  color: rgb(4, 30, 66);
}

.fouter_frame .fouter_top .fouter_support_box {
  margin-left: 80px;
  display: flex;
  flex-direction: row;
}

.fouter_frame .fouter_support_box .support_main_box {
  margin-right: 80px;
  display: flex;
  flex-direction: column;
}

.fouter_frame .support_main_box .support_content_boxes {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.fouter_frame .support_content_boxes a {
  font-family: "Jost";
  font-size: 14px;
  font-weight: 400;
  line-height: 40px;
  color: rgb(4, 30, 66);
}

.fouter_frame .fouter_top .fouter_media_box {
  display: flex;
  flex-direction: row;
}

.fouter_frame .fouter_media_box .media_left_box {
  margin-right: 80px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}

.fouter_frame .media_left_box .media_main_box {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}

.fouter_frame .media_main_box .media_content_boxes {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}

.fouter_frame .media_content_boxes i {
  margin-right: 28px;
}

.fouter_frame .media_main_box .media_boxes {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.fouter_frame .media_boxes .media_box {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.fouter_frame .media_box img {
  width: 20px;
  height: 12px;
}

.fouter_frame .media_box span {
  margin-left: 15px;
  font-family: "Jost";
  font-size: 14px;
  font-weight: 400;
  line-height: 40px;
  color: rgb(4, 30, 66);
}

.fouter_frame .fouter_top .media_right_box {
  margin-top: 136px;
}

.fouter_frame .container .fouter_bott {
  margin-top: 90px;
  width: 100%;
  height: 61px;

  border-top: 1px solid rgb(234, 234, 234);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.fouter_frame .fouter_bott .fouter_main_up {
  display: flex;
  flex-direction: row;
}

.fouter_frame .fouter_main_up span {
  margin-right: 66px;
  font-family: "Jost";
  font-size: 14px;
  font-weight: 400;
  line-height: 40px;
  color: rgb(4, 30, 66);
}

.fouter_frame .fouter_bott .fouter_main_wrap {
  display: flex;
  flex-direction: row;
}

.fouter_frame .fouter_main_wrap .main_wrap_box {
  margin-right: 21px;
  width: 187px;
  height: 40px;

  display: flex;
  flex-direction: row;
  justify-content: space-around;

  box-sizing: border-box;
  border: 1px solid rgb(234, 234, 234);
  border-radius: 6px;
  background: rgb(255, 255, 255);
}

.fouter_frame .main_wrap_box span {
  font-family: "Jost";
  font-size: 14px;
  font-weight: 400;
  line-height: 40px;
  color: rgb(98, 105, 116);
}

.fouter_frame .main_wrap_box select {
  padding-right: 25px;
  font-family: "Jost";
  font-size: 14px;
  font-weight: 400;
  line-height: 40px;
  color: rgb(4, 30, 66);

  border: none;
  outline: none;
}
